.navbar.navbar-default(role='navigation', ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') PLOTAWAY

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='email')
        li: a#home(href='/#/') Home
        li: a#register(href='/#/register') Register
        li: a#login(href='/#/login') Login
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li: a#homeIn(href='/#/') Home
        li: a#homeIn(href='/#/stories') Stories
        li: a#dashboard(href='/#/dashboard') Dashboard
        li: a#logout(href='/#/logout') {{email}}

