.public-itinerary-page
  .row
    .col-md-2
      .public-intro
        h4{{title}}
    .col-md-8
      .browse-individual(ng-if='onePublicItin')
        .public-itin
          h5 {{publicItin.title}}
        .btn-group(dropdown='dropdown', is-open='status.isopen')
          button.trip-pages.dropdown-toggle(type='button', ng-disabled='disabled')
            | Pages
            span.caret
          ul.dropdown-menu.pages-menu
            li(ng-repeat='page in pages')
              .btn.page-options(ng-click='seePage(page)') {{page.title}}
      .browse-individual-table(ng-if='displayPublicPage')
        .current-page
          p {{page.title}}
        .btn.close-page(ng-click='closePublicPage()')
          i.glyphicon.glyphicon-remove
        .btn.pdf-button(ng-click='makePublicPdf()') Download as a PDF
        table.table.table-margin.table-height(fixed-header='fixed-header')
          thead
            tr
              th: a(href='', ng-click="sort = 'category'; reverse=!reverse")  Category
              th Description
              th: a(href='', ng-click="sort = 'date'; reverse=!reverse") Date
              th: a(href='', ng-click="sort = 'time'; reverse=!reverse") Time
              th: a(href='', ng-click="sort = 'cost'; reverse=!reverse") Cost
              th: a(href='', ng-click="sort = 'priority'; reverse=!reverse") Priority
              th Delete
          tbody
            tr(ng-repeat='plot in plots | orderBy:sort:reverse', ng-class='{acc: plot.category === "Accomodations", tra: plot.category === "Transportation", sight: plot.category === "Sightseeing", eat: plot.category === "Eating", act: plot.category === "Activity", oth: plot.category === "Other", shop: plot.category === "Shopping"}')
              td(ng-class='{accomodations: plot.category === "Accomodations", transportation: plot.category === "Transportation", sightseeing: plot.category === "Sightseeing", eating: plot.category === "Eating", activity: plot.category === "Activity", other: plot.category === "Other", shopping: plot.category === "Shopping"}')
              td(ng-click='description(plot.description)') Description
              td {{plot.date | date:'dd MMM yyyy'}}
              td {{plot.time | date:'shortTime'}}
              td ${{plot.cost}}
              td {{plot.priority}}
                td: a(href='', ng-click='deletePlot(plot)') Delete
